<video autoplay muted loop id="myVideo">
  <source src="/assets/playback2.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>
<div class="LeyendasRP">
  <div class="LeyendasRP-content">
    <div *ngIf="inicio" [@enterAnimation]>
      <div class="LeyendasRP-logo">
        <img class="LeyendasRP-logo-img" src="/assets/logo.png">
      </div>
      <div class="LeyendasRP-menu">
        <a>
          <p (click)="showInfo('rules')">Reglas</p>
        </a>
        <p class="LeyendasRP-separator">●</p>
        <p class="LeyendasRP-store">Tienda</p>
        <p class="LeyendasRP-separator">●</p>
        <a>
          <p (click)="showInfo('staff')">Staff</p>
        </a>
      </div>
    </div>
    <div *ngIf="rules" [@enterAnimation]>
      <div class="LeyendasRP-rules">
        <h1>Reglas</h1>
        <ul>
          <a (click)="goToLink('https://bit.ly/NormativaGeneral-LeyendasRP')">
            <li>Normas Ciudadanas</li>
          </a>
          <a (click)="goToLink('https://bit.ly/NormativaLSPD-LeyendasRP')">
            <li>Normas LSPD</li>
          </a>
          <a (click)="goToLink('https://bit.ly/NormativaEMSS-LeyendasRP')">
            <li>Normas EMS</li>
          </a>
        </ul>
        <a (click)="showInfo('inicio')">Volver</a>
      </div>
    </div>
    <div *ngIf="staff" [@enterAnimation]>
      <div class="LeyendasRP-rules">
        <h1>Staff</h1>
        <ul>
            <li>Romero: Fundador</li>
            <li>Ekinox: Fundador</li>
            <li>Richard: Developer</li>
            <li>Lupesparza: Developer</li>
        </ul>
        <a (click)="showInfo('inicio')">Volver</a>
      </div>
    </div>
  </div>
</div>
